{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3>Ajouter des nouvels images</h3>
                {{ form(form) }} <a href="{{ path('toDoList') }}"><input type="button" class="btn btn-primary back" value="retour"></a>
            </div>
        </div>
    </div>
{% endblock %}
