{% extends 'base.html.twig' %}
{% block title %}A propos{% endblock %}
{% block body %}
    {% block div %}
    <div id="background-about">
    </div>
    {% endblock %}

    <div class="container" id="start-about">
        <div class="row">
            <div class="start-about-text col-md-5">
                <h3>Notre équipe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto blanditiis consequuntur, dicta iusto minima modi optio, pariatur porro possimus quasi rem ullam ut vitae voluptas. Ad architecto atque corporis culpa debitis dolores eligendi eos exercitationem harum minima modi officiis possimus quia quibusdam recusandae, reiciendis repudiandae rerum sed suscipit vero.</p>
            </div>
            <div class="start-about-text col-md-5 col-md-push-2">
                <h3>Nos services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto blanditiis consequuntur, dicta iusto minima modi optio, pariatur porro possimus quasi rem ullam ut vitae voluptas. Ad architecto atque corporis culpa debitis dolores eligendi eos exercitationem harum minima modi officiis possimus quia quibusdam recusandae, reiciendis repudiandae rerum sed suscipit vero.</p>
            </div>
        </div>
    </div>

    <hr/>

    <div class="container" id="start-about">
        <div class="row">
            <div class="start-about-text col-md-5">
                <h3>Nous travaillons avec</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto blanditiis consequuntur, dicta iusto minima modi optio, pariatur porro possimus quasi rem ullam ut vitae voluptas. Ad architecto atque corporis culpa debitis dolores eligendi eos exercitationem harum minima modi officiis possimus quia quibusdam recusandae, reiciendis repudiandae rerum sed suscipit vero.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam dolor illum ipsam nam non omnis, quis quisquam sint ullam!</p>
            </div>
            <div class="start-about-text col-md-5 col-md-push-2">
                <h3>Nos principaux clients</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto blanditiis consequuntur, dicta iusto minima modi optio, pariatur porro possimus quasi rem ullam ut vitae voluptas. Ad architecto atque corporis culpa debitis dolores eligendi eos exercitationem harum minima modi officiis possimus quia quibusdam recusandae, reiciendis repudiandae rerum sed suscipit vero.</p>
            </div>
        </div>
    </div>


<footer class="container-fluid bg-primary" id="footer">
    <div class="row">
        <div class="col-md-4">
            <p>VOIP</p>
            <p>Mainenance Informatique</p>
            <p>Ordinateur</p>
        </div>
        <div class="col-md-4">
            <p>VOIP Shop</p>
            <p>Place du Marché</p>
            <p>1340 Ottignies</p>
            <p>info@voip-shop.be</p>
        </div>
        <div class="col-md-3">
            <p>VOIP Shop</p>
        </div>
    </div>
</footer>
{% endblock %}
